body{
    background-image: url('https://storage.googleapis.com/www-paredro-com/uploads/2019/04/LogoCinepolis.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
